In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('/home/jovyan/vol-2/Roja/ds-ihan/v2/LLM_Agents/data/data_LLM.csv')

In [3]:
df.shape

(37684, 6)

In [4]:
df1=df[df['id']==15]

In [5]:
df_diag=df1[df1['type']=='diag']

In [24]:
df_diag[df_diag['code']=='R918']

,id,dos,code,codeDesc,type,value
2278,15,2019-03-20,R918,Other nonspecific abnormal finding of lung field,diag,NaN
2315,15,2019-07-08,R918,Other nonspecific abnormal finding of lung field,diag,NaN
2344,15,2019-10-09,R918,Other nonspecific abnormal finding of lung field,diag,NaN
2354,15,2019-12-12,R918,Other nonspecific abnormal finding of lung field,diag,NaN

In [6]:
df_proc=df1[df1['type']=='proc']

In [8]:
df_rx=df1[df1['type']=='rx']

In [25]:
df_lab=df1[df1['type']=='lab']

In [ ]:
Benzodiazepine Tests:

clonazePAM Ur Cfm-mCnc (16229-7) in [2019-03-29:249.0,2019-08-26:292.0]
clonazePAM Ur Ql (19245-0) in [2019-03-29:NaN,2019-08-26:NaN]
Benzodiaz Ur Ql (3390-2) in [2019-03-29:NaN,2019-08-26:NaN]
Temazepam Ur Ql Cfm (16206-5) in [2019-03-29:NaN,2019-08-26:NaN]
Oxazepam Ur Ql (12361-2) in [2019-03-29:NaN,2019-08-26:NaN]
Flurazepam Ur Ql (3654-1) in [2019-03-29:NaN,2019-08-26:NaN]
Triazolam Ur Ql (14192-9) in [2019-03-29:NaN,2019-08-26:NaN]
LORazepam Ur Ql (18187-5) in [2019-03-29:NaN,2019-08-26:NaN]
Nordiazepam Ur Ql (3861-2) in [2019-03-29:NaN,2019-08-26:NaN]
Alpraz Ur Ql (9351-8) in [2019-03-29:NaN,2019-08-26:NaN]
Midazolam Ur Ql Cfm (19586-7) in [2019-03-29:NaN,2019-08-26:NaN]
Other:

Laboratory comment Report (77202-0) in [2019-03-29:NaN,2019-08-26:NaN]

In [37]:
df_lab[df_lab['code']=='77202-0']

       id         dos     code                   codeDesc type  value
37316  15  2019-03-29  77202-0  Laboratory comment Report  lab    NaN
37331  15  2019-08-26  77202-0  Laboratory comment Report  lab    NaN

In [34]:
a

NameError: name 'a' is not defined

In [ ]:
"Chronic atrial fibrillation (I482) in [2019-06-02]"

In [ ]:
"Chronic atrial fibrillation" == "Chronic atrial fibrillation"

In [ ]:
response="""[Here is the graph for the lab test "Potassium SerPl-sCnc (2823-3)":

Filename: saved_plots/Potassium_SerPl-sCnc_(2823-3)_20241001_095823.png

The graph shows the potassium levels over two dates:

On 2019-05-01, the potassium level was 5.30 mmol/L.
On 2019-08-29, the potassium level was 4.80 mmol/L.
Interpretation:

The potassium level decreased from 5.30 mmol/L to 4.80 mmol/L over the observed period.
Both values are within the typical reference range for serum potassium, which is generally 3.5 to 5.0 mmol/L, but the initial value was slightly elevated. Monitoring potassium levels is important, especially given the patient's history of chronic kidney disease and hypertension, as these conditions can affect electrolyte balance.
If you have any further questions or need additional information, please let me know!"""

In [ ]:
import re
image_paths = re.findall(r'saved_plots/[^()]+\([^)]+\)_\d+_\d+\.png', response)
print(image_paths)

In [ ]:
response

In [ ]:
df_diag['code'].nunique()

In [ ]:
df_proc=df[df['type']=='proc']

In [ ]:
df_lab=df[df['type']=='lab']

In [ ]:
df_rx=df[df['type']=='rx']

In [ ]:
Glucose:

Glucose SerPl-mCnc (2345-7) in [2019-05-01:139.999903, 2019-08-29:106.000190]
Immunosuppressant:

Tacrolimus Bld LC/MS/MS-mCnc (74097-7) in [2019-05-01:7.200005, 2019-08-29:4.299989]

In [ ]:
df_lab[df_lab['code']=='74097-7']

In [ ]:
df.columns

In [ ]:
df

In [ ]:
import numpy as np
df['value']=np.round(df['value'],2)

In [ ]:
df

In [ ]:
Anesthesia Procedures:

Anesthesia for upper gastrointestinal endoscopic procedures, endoscope introduced proximal to duodenum; not otherwise specified (00731) in [2019-01-03]
Anesthesia for procedures on nerves, muscles, tendons, fascia, and bursae of upper arm and elbow; not otherwise specified (01710) in [2019-06-04]

In [ ]:
df_proc[df_proc['code']=='43239']

In [ ]:
df_proc[df_proc['code']=='24105']

In [ ]:
Evaluation Results
Prescription Medication Summary:

Rx Category 1:

Losartan (36150040) in [2019-03-08, 2019-06-06, 2019-09-07, 2019-12-06]
Metoprolol (33200030) in [2019-04-08, 2019-05-07, 2019-06-06, 2019-07-06]
Rx Category 2:

Venlafaxine (58180090) in [2019-03-08, 2019-04-07, 2019-05-09]
Sertraline (58160070) in [2019-05-29, 2019-06-22, 2019-07-14, 2019-10-06]
Rx Category 3:

Triamcinolone (90550085) in [2019-05-30]
Fluticasone (90550068) in [2019-06-22]
Tacrolimus (99404080) in [2019-09-06]
Stand-alone Items:

Penicillin Combination - Two Ingredient (01990002) in [2019-06-11]

In [ ]:
df_rx[df_rx['code']=='01990002']

In [ ]:
df_lab[df_lab['code']=='1759-0']

In [ ]:
Albumin/Glob SerPl (1759-0) in [2019-05-01:1.30, 2019-08-29:1.50] and [2019-06-02:1.40]

In [ ]:
df_lab[df_lab['dos']=='2019-06-02']

In [ ]:
df_lab[df_lab['dos']=='2019-06-02']

In [ ]:
s='/home/jovyan/vol-2/Roja/ds-ihan/v2/LLM_Agents/saved_plots/Sodium_SerPl-sCnc_20240926_141013.png'

In [ ]:
df_diag[df_diag['code']=='N183']

In [ ]:
df[df['type']=='lab']['id'].unique()

In [ ]:
df['id'].unique()