In [ ]:
!python --version

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('/home/jovyan/data/LLM/EMR_LLM_data_combo_2204mcids_NEW.csv')

/home/jovyan/tmp/ipykernel_373844/3347160452.py:1: DtypeWarning: Columns (4,5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('/home/jovyan/data/LLM/EMR_LLM_data_combo_2204mcids_NEW.csv')

In [3]:
df.head()

,ID,DOS,TYPE,CODE,VALUE,ABNORMAL_CD,CD_DESC
0,33260,2019-10-23,EMR_Note,chief complaint,pre-op evaluation; hypertension. needs cx for ...,NaN,NaN
1,33260,2019-10-23,EMR_Note,past medical history,anemia of chronic disease. Percutaneous Corona...,NaN,NaN
2,33260,2019-11-16,EMR_Note,history of present illness,Pt is here for follow up from the hospital. Pt...,NaN,NaN
3,33260,2019-11-16,EMR_Note,physical exam,Cardiology Brief Exam. Basic Cardio PE:. HEENT...,NaN,NaN
4,33260,2019-11-16,EMR_Note,instructions,I10: Essential (primary) hypertension. 5: Hype...,NaN,NaN

In [4]:
df.columns=df.columns.str.lower()

In [5]:
import numpy as np
df=df[~df['type'].isin(['EMR_Note'])]
df['value'] = pd.to_numeric(df['value'], errors='coerce')
df['value']=np.round(df['value'],2)

In [11]:
id1=df[df['id']==6749]

In [12]:
id1.shape

(675, 7)

In [8]:
diag=id1[id1['type']=='diag']

In [39]:
9. Type 2 Diabetes Mellitus Without Complications
Diagnostic Evidence:
Diagnosis Code: E119, Date: 2017-05-26
Lab Test Results:
HbA1c MFr Bld: 5.70 H (2017-05-26)
Explanation:
The diagnosis of Type 2 Diabetes Mellitus is supported by elevated HbA1c levels and the presence of the diagnostic code.

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (4130845044.py, line 3)

In [42]:
diag[diag['code']=='R9431']

,id,dos,type,code,value,abnormal_cd,cd_desc
345001,15163,2019-08-26,diag,R9431,NaN,NaN,ABNORMAL ELECTROCARDIOGRAM
345005,15163,2019-09-10,diag,R9431,NaN,NaN,ABNORMAL ELECTROCARDIOGRAM